{% assign home_url = '/' | relative_url %}
{% assign blog_url = '/blog/' | relative_url %}
<nav>
    <div class="container nav-container">
        <a href="{{ home_url }}" class="nav-logo">Seyong Kim</a>
        <div class="nav-links">
            <a href="{{ home_url }}#about">About</a>
            <a href="{{ home_url }}#publications">Publications</a>
            <a href="{{ home_url }}#experience">Experience</a>
            <a href="{{ blog_url }}">Blog</a>
            <a href="{{ '/SeyongKim_CV.pdf' | relative_url }}" target="_blank" rel="noopener noreferrer">CV</a>
        </div>
    </div>
</nav>
